body {
  background-image: url(https://cdn.pixabay.com/photo/2018/03/03/20/02/laptop-3196481_960_720.jpg);
  background-size: 100%;
  font-family: Tahoma;
}

h1, p {
  margin: 1em auto;
  text-align: center;

}

.frame {
  width: 80%;
  background-color: rgba(0,79,155,90%);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  color: #dfdfe2
}

label {
  display: block;
  margin: 0.5rem 0;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 1rem 0;

}

textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
